
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$neonOrange: #FFA500; // Added neon orange

// Grays
$black: #FFA500; // Black Background Color
$darkerGray: #FFA500; // Orange neon for dark text
$darkGray: #FFA500; // Neon orange for body text
$gray: #FFA500; // Softer organge for secondary text
$lightGray: #FFA500; // Dark grey for borders/background panels
$white: #000000; // Neon orange for headers/main text

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
