
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$neonOrange: #000000; // Added neon orange

// Grays
$black: #000000; // Black Background Color
$darkerGray: #FF5F1F; // Orange neon for dark text
$darkGray: #0000; // Neon orange for body text
$gray: #FFA500; // Softer organge for secondary text
$lightGray: #222222; // Dark grey for borders/background panels
$white: #000000; // Neon orange for headers/main text

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
